/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-mar-2017, 8.43.27
    Author     : tss
*/
#div1{
    float: left;
    margin-right: 40px;
}
#tab1 td, #tab2 td{
    width: 30px; height: 30px;
    border: solid 2px black;
}
#div2 #tab2 tr:nth-child(1) td {background-color: red;}
#div2 #tab2 tr:nth-child(2) td {background-color: blue;}
#div2 #tab2 tr:nth-child(3) td {background-color: aqua;}
#div2 #tab2 tr:nth-child(4) td {background-color: blueviolet;}
#div2 #tab2 tr:nth-child(5) td {background-color: yellowgreen;}
#div2 #tab2 tr:nth-child(6) td {background-color: brown;}
#div2 #tab2 tr:nth-child(7) td {background-color: crimson;}
#div2 #tab2 tr:nth-child(8) td {background-color: darkcyan;}
#div2 #tab2 tr:nth-child(9) td {background-color: deeppink;}
#div2 #tab2 tr:nth-child(10) td {background-color: dodgerblue;}