/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-feb-2017, 11.09.26
    Author     : tss
*/


/* transform: rotate(90deg/rad/grad);*/

p {
    counter-increment: contap 1
}

p:after{
    content: ' paragrafo num: ' counter(contap)
}

body{
    counter-reset: contap 0
}