/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-feb-2017, 13.58.28
    Author     : tss
*/

#conteni{
    width: 248px; height: 200px;
    margin: auto;
    border:solid 1px blue
}

#conteni div{
    border:solid 1px red;
    margin:auto;
    float: left;        
    text-align: center;        
    width: 60px; height: 200px; 
    line-height: 200px;
    display: table-cell;
    vertical-align: middle;
    transition: all 2s;
    /*transition-delay: 1s; ritardo prima che inizi*/ 
    
}

#conteni div:hover{
    font-size: 40px;
    font-weight: bold;
    color: red;
    transform: rotate(1080deg);
    
}    