/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-feb-2017, 13.46.09
    Author     : tss
*/
body{
     counter-reset: contanum 0
}

#sca td:nth-child(2) {
    counter-increment: contanum 1;
    content:  counter(contanum)
}
 
#sca td{
    width: 30px; height: 30px;
    border:solid 2px blue;
}
