/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-mar-2017, 8.54.56
    Author     : tss
*/

.conte{
    width: auto;
    height: 500px;
}

.conte div{
    width: 100px;
    height: 100px;
    float: left;
    border: solid 20px ;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    left: 10px
}
.conte #omino2{
    border: solid 20px ;
}

#pul1{
    text-align: center;
    position: absolute;
    top:200px; left: 200px;
}